.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text-box {
    width: 500px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-box {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}